/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin-inline: clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
  color: var(--main-color);
  font-family: var(--font-family);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-variation-normal);
}

.title-box {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  align-items: center;
  margin-block: 100px;
  border: 2px solid currentColor;
  background-color: var(--background-color);
}

.title {
  margin-block-start: clamp(7.5rem, 7.1699rem + 1.4085vw, 8.4375rem);
  font-weight: normal;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);;
}

.title-comment {
  margin-block-start: 20px;
  font-weight: normal;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.header__theme-menu {
  margin-block: 24px;
}

.theme-menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline-start: 20px;
  font-size: 14px;
}

.theme-menu__button {
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity .3s ease;
}

.theme-menu__button:disabled {
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: currentColor;
  transition: width .3s ease;
}

.theme-menu__button:hover:after {
  width: 100%;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible:after {
  width: 100%;
}

.main-list {
  display: flex;
  flex-direction: column;
  gap: 49px;
}

.main-list-item {
  border: 2px solid currentColor;
  background-color: var(--background-color);
}

.list-item-caption {
  border-block-end: 2px solid var(--main-color) ;
  padding-inline: 10px;
  padding-block: 5px;
  font-family: var(--second-family);
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-variation-bold);
}

.list-item-image-wrapper {
  position: relative;
}

.list-item-image {
  object-fit: cover;
  inline-size: 100%;
  block-size: auto;
}

.list-item-watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  color: var(--main-color);
  font-size: 14px;
  text-shadow:
    1px 1px 0 var(--background-color),
    1px -1px 0 var(--background-color),
    -1px 1px 0 var(--background-color),
    -1px -1px 0 var(--background-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .list-item-watermark {
      text-shadow: none;
      -webkit-text-stroke: 1px var(--background-color);
      text-stroke: 1px var(--background-color);
  }
}

.image__filter__grayscale {
  filter: grayscale(0.8);
}

.image__filter__saturate {
  filter: saturate(3.5);
}

.image__filter__hue-rotate {
  filter: hue-rotate(30deg);
}

.image__filter__invert {
  filter: invert(0.8);
}

.image__filter__sepia {
  filter: sepia(0.8);
}

.image__filter__blur {
  padding: 10px;
  filter: blur(5px) drop-shadow(5px 5px var(--shadow-color)) drop-shadow(-5px -5px var(--shadow-color));
}

.image__filter__rotate-blur {
  filter: hue-rotate(120deg) blur(3px);
}

.list-item-content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-block-start: 2px solid var(--main-color) ;
  padding: 25px;
}

.list-item-text {
  display: block;
  font-family: var(--second-family);
  font-size: 18px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-inline-end: 25px;
  padding-block-end: 22px;
}

.button {
  position: relative;
  border: 2px solid var(--main-color);
  padding: 12px;
  color: var(--button-color);
  font-size: 14px;
  transition: box-shadow .3s ease;
}

.button__text {
  mix-blend-mode: difference;
}

.button__image {
  mix-blend-mode: difference;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--main-color);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  transition: transform .5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.card__like-button {
  background-color: transparent;
  min-inline-size: 130px;
}

.footer {
  display: flex;
  justify-content: center;
}

.button__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block-start: 50px;
  margin-block-end: 50px;
  background-color: var(--background-color);
  inline-size: 340px;
  block-size: 55px;
}

.dialog-insert-diskette {
  padding: var(--dialog-margins);
  color: var(--main-color);
  background-color: var(--background-color);
  inline-size: 353px;
  block-size: 191px;
}

.dialog-insert-diskette::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--dialog-margins);
}

.dialog-content {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 12px;
}

.dialog-image {
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

.button_dialog {
  text-transform: uppercase;
  background-color: transparent;
}

@media (width <= 375px) {
  .title {
    font-size: clamp(2.8125rem, 1.358rem + 7.2727vw, 3.0625rem);
  }

  .button__footer {
    flex-direction: column;
    inline-size: 306px;
    block-size: 84px;
  }

  .button__image {
    width: 28px;
    height: 28px;
  }
}
/* ************************************************************************************** */
